<?xml version="1.0"?>
<configuration>

  <appSettings>
    <!-- A regulare expression to match one or multiple top level folders to monitor -->
    <add key="RootFolderPattern" value="."/>
    <!-- wave file to be played when tasks have failed, leave empty for no sound -->
    <add key="RingTone" value="%WINDIR%\Media\Ringin.wav" />
    <!-- if true, root tasks are also monitored -->
    <add key="CheckRootTasks" value="false" />
  </appSettings>

</configuration>
