<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="tnlSenderEmail" value="sender@yourdomail.here" />
        <add key="AlertRecipient" value="recipient@yourdomail.here" />
        <add key="RootFolderPattern" value="Peter" />
    </appSettings>
    
  <system.net>
    <mailSettings>
      <smtp>
        <network defaultCredentials="true" host="mymailserver.com" password="" userName=""/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>