<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <!-- the sender email address, not really that important -->
    <add key="tnlSenderEmail" value="motash@yourdomain.whatever" />
    <!-- the recipient of the emails when tasks are failing, this should be yours -->
    <add key="AlertRecipient" value="you@yourdomain.whatever" />
    <!-- A regulare expression to match one or multiple top level folders to monitor -->
    <add key="RootFolderPattern" value="YourTopLevelFolder" />
    <!-- if true, root tasks are also monitored -->
    <add key="CheckRootTasks" value="false" />
  </appSettings>

  <system.net>
    <mailSettings>
      <smtp>
        <!-- setting for a mail server to receive and forward the alert emails -->
        <network defaultCredentials="true" host="mail.yourdomain.whatever" password="" userName=""/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
